[Unit]
Description=Run Docker Update Weekly

[Timer]
OnCalendar=Sun *-*-* 03:00:00
RandomizedDelaySec=1h
Persistent=true

[Install]
WantedBy=timers.target
