[Unit]
Description=Weekly Docker Container Update
After=network-online.target

[Service]
Type=oneshot
ExecStart=/bin/bash %h/update-docker.sh
# StandardOutput and StandardError can be seen via journalctl --user -u docker-update.service

[Install]
WantedBy=default.target
